* {
    border: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    align-items: center;
    background-image: linear-gradient(125deg, #f073ff, #97f5ff);
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

.app {
    align-items: center;
    background-color: rgb(246 246 246 / 70%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000002b;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40%;
    max-height: 700px;
}

#new-task-form {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

#new-task-title {
    border: 1px solid #c9c9c9;
    border-right-color: transparent;
    border-radius: 7px 0 0 7px;
    flex-grow: 1;
    padding: 5px;
}

#add-button {
    border: 1px solid #c9c9c9;
    border-left-color: transparent;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    padding: 5px 15px;
}

#list, #completed-list {
    width: 100%;
}

.list-item {
    align-items: center;
    border-bottom: 1px solid #00000047;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    transition: all 0.3s;
}

.checkbox {
    margin-right: 5px;
}

.checkbox:checked + .txt{
    transition: all 0.2s ease-in-out;
    text-decoration: line-through;
    opacity: 0.6;
}

.txt {
    word-break: break-all;
}

.trash {
    opacity: 0;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.show {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    body {
        flex-direction: column;
    }

    .app {
        width: 90%;
        max-width: none;
    }
}